@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300,400;700&display=swap');
@import url(//db.onlinewebfonts.com/c/6f0cd4643b13ab5889b7d772ca093555?family=Portico+Outline);
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  overflow: hidden;
  margin: 0;
}

.bg-gradient {
  background: rgb(67, 67, 67);
  background: linear-gradient(
    180deg,
    rgba(67, 67, 67, 0.6) 0%,
    rgba(17, 17, 17, 0.8005249343832022) 80%
  );
}
